@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Amiri&family=Open+Sans:wght@300;400&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

h2,
h3 {
  font-family: "Amiri", serif;
}
